.empty_tab {
  padding: 2rem 1rem;
  text-align: center;
  font-family: var(--font);
}

.empty_tab img {
  object-fit: contain;
  height: 140px;
}

.empty_tab h4 {
  margin: 1rem 0;
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
}

.empty_tab p {
  margin: 1rem 0;
  font-size: 13px;
  color: #888;
}

.empty_tab span {
  display: inline-block;
  color: var(--blue);
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
}

.history_list {
  padding-block: 10px;
  overflow-x: hidden;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.history_list::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

.history_group {
}

.history_group details {
}

.history_group details summary {
  font-size: 14px;
  color: var(--text-color);
  font-family: var(--font);
  padding-inline: 10px;
}
.history_group details > div {
  overflow: hidden;
}
.history_group details ul {
  overflow: hidden;
  padding-block: 4px;
}

.history_group details ul li {
  font-size: 14px;
  color: var(--text-color-dark);
  padding: 8px 10px;
  cursor: pointer;
  margin-block: 1px;
  display: grid;
  grid-template-columns: 45px 1fr;
  align-items: center;
  font-size: 13.5px;
}

.history_group details ul li:hover {
  background-color: var(--drawer-hover-color);
}

.history_group details ul li span:first-of-type {
  margin-right: 8px;
  font-size: 10px;
  text-align: right;
}

.history_group details ul li span:last-of-type {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
