@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
  --padding: 16px;
  --text-size-sm: 12px;
  --text-size-md: 15px;
  --text-size-lg: 18px;

  --sidebar-width: 380px;
  --sidebar-width-collapsed: 40px;
  --font: 'Roboto', sans-serif;

  /* Colors */
  --theme-color: #ff6c37;
  --theme-color-light: #ffa537;
  --light-bg: #ececec;
  --light-bg-hover: #ddd;
  --bg-color: #fff;
  --drawer-color: #f9f9f9;
  --text-color: #666;
  --border-color: #eee;
  --blue: rgb(27, 86, 212);
}

body,
html {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

*:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #bbb;
}
input::-moz-placeholder {
  color: #bbb;
}
input:-ms-input-placeholder {
  color: #bbb;
}
input:-moz-placeholder {
  color: #bbb;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  overflow-y: hidden;
  display: grid;
  grid-template-rows: 48px 1fr 36px;
  min-width: 1200px;
  background-color: var(--bg-color);
  overflow-x: auto;
}

.App > section {
  display: flex;
}

.App aside {
  width: var(--sidebar-width);
  border-right: 1px solid var(--border-color);
  background-color: var(--drawer-color);
}

.App aside.collapsed {
  width: var(--sidebar-width-collapsed);
  background-color: var(--bg-color);
}

.App main {
  flex: 1;
}
